---
categories: c_Courses
order: 70
title: 'Copper Foil Stained Glass Courses'
heading: 'Copper Foil Stained Glass Courses'
lead:
---
<div class="container">
    <div class="container-fluid col-xs-12">
        <img style="margin: 0 20px 20px 0" class="img-responsive pull-left" src="assets/image/copper-foil.jpg"
             alt=""
             width="300" height="219"/>

        <p>Copper foil stained glass breaks are available throughout the year, at dates to suit yourself. Please e-mail
            or phone us (before 9pm please) to check availability. Because we specialise in small group sizes, we can
            usually fit you in with no need to meet minimum numbers for our Chilham classes.</p>

        <p>The following dates are in the pipeline at present, but can be changed to suit you if you're the first to
            book:-</p>

        <ul>
            <li>
                <p><span class='lead'>Tuesday 18th – Wednesday 19th August: “Suncatchers for summer”.</span></p>

                <p>Learn a new skill in your summer holiday. Using our huge range of coloured glass, create a suncatcher
                    using
                    the “Tiffany” technique. Depending on your choice of design and how long it takes, you may even have
                    time to
                    make two!</p>

                <p>You are welcome to bring your own design or to use one of ours.</p>
            </li>
            <li>
                <p><span class='lead'>Friday 4th September – Sunday 6th September: &nbsp;A time of fruitfulness.</span>
                </p>

                <p>As harvest time hopefully draws near, take time to reflect on what you’ve done with your talents so
                    far and
                    which gifts you could do more with. Stretch your creative “muscle” and explore a range of glass
                    techniques,
                    decorating a mirror using the copper foil technique or glass appliqué.</p>
            </li>
            <li>
                <p><span class='lead'>Friday 25th – Sunday 27th September: </span><span class='lead'>3D copper foil candle holders.</span>
                </p>

                <p>Now the evenings are starting to lengthen, chase the darkness away with your own hand made candle
                    holder(s).
                    Create your own unique design, with as much help as you need, or copy one of ours. Using the copper
                    foil
                    technique, you’ll assemble your 3D masterpiece. All materials provided, even the candle!</p>
            </li>
        </ul>
    </div>
</div>
