---
categories: c
order: 30
menu: Courses
title: 'When to come'
heading: 'When to come'
lead: 'Some of our course dates... '
---
<div class="container">
    <div class="field-item even">
        <p><span class="lead">When to come for your glass course?</span></p>

        <p>Whenever you like! If you have a date in mind, for a birthday,
            anniversary, girly weekend etc., speak to us and we’ll fit you
            in.</p>

        <p>The following dates and themes are all flexible. Want to do a subject
            on a different date, or have a better idea? No problem; just ask.
            All are suitable for both complete beginners or those with some
            experience, unless otherwise indicated.</p>

        <p>Book early to secure the dates and topic of your choice. All whole
            days include refreshments and a light lunch.</p>

        <ul>
            <li>
                <p><span class="lead">Monday 13th – Friday 17th July: “A beautiful mess” art week</span>, in
                    conjunction with Green Pastures retreat centre and Gill Buckley, inspired by
                    Daniel Strickland’s book “A beautiful mess”.</p>

                <p>This five day retreat will take place in Branksome, Dorset, within
                    easy reach of the beach.&nbsp; A range of artistic media will be on
                    offer; glass appliqué, painting, collage, photography and even
                    floristry. For bookings, please contact Green Pastures direct, on
                    01202 764776, or e-mail <a href="mailto:info@green-pastures.org">info@green-pastures.org</a>
                </p>

                <p>
                    <a href="http://www.green-pastures.org/#!A-Beautiful-Mess-Art-week/cvh6/i683w1jf80">http://www.green-pastures.org/#!A-Beautiful-Mess-Art-week/cvh6/i683w1jf80</a>
                </p>
            </li>

            <li>
                <p><span class="lead">Friday 31st July – 2nd August: “Down on the beach”. </span></p>

                <p>Join us for a trip to the Kent coast, wriggle your toes in the sand,
                    listen to the sound of the waves and the call of the gulls &amp;
                    perhaps treat yourself to an ice cream. Capture the scene on your
                    camera, phone or sketch pad, then translate the sights, sounds,
                    smells &amp; / or tastes in a glass appliqué picture in our glass
                    studio.</p>
            </li>

            <li>
                <p><span class="lead">Tuesday 4th – Thursday 6th August: “Traditional Leaded Lights”.</span></p>

                <p>Learn to cut glass and lead. Explore the geometric shapes and
                    patterns popular in the last 200 years and produce your own leaded
                    panel to take home.</p>
            </li>

            <li>
                <p><span class="lead">Tuesday 18th – Wednesday 19th August: “Suncatchers for summer”.</span></p>

                <p>Learn a new skill in your summer holiday. Using our huge range of
                    coloured glass, create a suncatcher using the “Tiffany” technique.
                    Depending on your choice of design and how long it takes, you may
                    even have time to make two!</p>

                <p>You are welcome to bring your own design or to use one of ours.</p>
            </li>

            <li>
                <p><span
                        class="lead">Saturday 29th – Monday 31st August (bank holiday weekend): “Leaded landscapes”.</span>
                </p>

                <p>Bring a photo of your own or take inspiration from our beautiful
                    setting, nestled in the Kent Downs AONB. (A stroll around the
                    medieval village of Chilham, a walk or visit to some local
                    viewpoints are free optional extras, to immerse yourself more into
                    the landscape.)</p>

                <p>Capture the beauty of the scenery in a landscape panel, using the
                    leaded stained glass technique.</p>
            </li>

            <li>
                <p><span class="lead">Tuesday 1st – Wednesday 2nd September: Glass appliqué for
                    complete beginners.</span></p>

                <p>Distract yourself from the thought of going back to school with this
                    two day glass appliqué break. Suitable for both adults and
                    responsible youngsters (I’d suggest over 14’s) so long as they’re
                    happy handling sharp pieces of glass.</p>

                <p>Learn to cut glass, then combine pieces that you’ve cut by yourself
                    with shapes from our boxes, to make colourful coasters, artistic
                    abstracts and perfect pictures!</p>

                <p>Under 18s must be accompanied by an adult.</p>
            </li>

            <li>
                <p><span class="lead">Friday 4th September – Sunday 6th September: A time of fruitfulness.</span></p>

                <p>As harvest time hopefully draws near, take time to reflect on what
                    you’ve done with your talents so far and which gifts you could do
                    more with. Stretch your creative “muscle” and explore a range of
                    glass techniques, decorating a mirror using the copper foil
                    technique or glass appliqué.</p>
            </li>

            <li>
                <p><span class="lead">Saturday 12th – Sunday 13th September: NEW: First steps in glass fusing.</span>
                </p>

                <p>Suitable for all, though prior experience in cutting glass (e.g. on
                    an appliqué or stained glass course) will be an advantage.</p>

                <p>Come and discover the wonderful world of fused glass in our Chilham
                    glass studio, in the heart of Kent. Use fusing glass. Glass
                    confetti, frit and stringers to create your own unique designs. You
                    will have the opportunity to make at least three pieces of work; a
                    textured piece from float glass, coasters, a small bowl, a window
                    hanging and / or jewellery. These will be fused in our kiln
                    following the course and will be ready for collection or posting the
                    following week.</p>
            </li>

            <li>
                <p><span class="lead">Tuesday 15th – Wednesday 16th September: NEW: Tack fusing for texture.</span></p>

                <p>Discover the effects you can get when glass is heated enough to stick
                    together permanently but not so much as to completely melt. Using
                    fusing glass together with frit and / or stringers, create your own
                    unique pieces of glass art to impress your friends. You should
                    expect to make two or three items, depending on size.</p>
            </li>

            <li>
                <p><span class="lead">Friday 25th – Sunday 27th September: </span><span class="lead">3D copper foil
                    candle holders.</span></p>

                <p>Now the evenings are starting to lengthen, chase the darkness away
                    with your own hand made candle holder(s). Create your own unique
                    design, with as much help as you need, or copy one of ours. Using
                    the copper foil technique, you’ll assemble your 3D masterpiece. All
                    materials provided, even the candle!</p>
            </li>

            <li>
                <p><span class="lead">Saturday 3rd – Sunday 4th October: Glass fusing workshop.</span></p>

                <p>Suitable for first time fusers or those who have done an introduction
                    before. Experiment with fusing glass to make decorations, coasters,
                    a picture and / or jewellery. You can choose to make one large piece
                    or several smaller ones. All materials provided.</p>
            </li>

            <li>
                <p><span class="lead">Friday 9th – Sunday 11th October: Leaded designs, ancient and modern.</span></p>

                <p>Choose your favourite hymn or song and translate it into a leaded
                    glass design. (Tip: “There is a green hill far away” or “Away in a
                    manger” might be easier than “We are marching” or “I surrender”!)
                    Alternatively, choose a classic leaded light design from the last
                    two centuries as your inspiration.</p>

                <p>Your finished glass panel will be suitable for hanging or standing in
                    a window, to show off your talents.</p>
            </li>

            <li>
                <p><span class="lead">Saturday 24th – Sunday 25th October: 3D appliqué and fused
                    candle stands.</span></p>

                <p>Following on from our 3D copper foiling, a weekend of 3D glass
                    appliqué and fused candle holders. The appliqué candle holders will
                    be made in four pieces (plus a base) and will then be assembled. The
                    intention is to make and grout the appliqué cubes on the Saturday,
                    then assemble them and make the fused candle stands on the Sunday.
                    These will be fused and slumped in the kiln the following week ready
                    for collection or postage.</p>
            </li>

            <li>
                <p><span class="lead">Monday 26th – Tuesday 27th October: Leaded glass panels for beginners
                    and improvers.</span></p>

                <p>Learn how to design your own leaded light, then turn it into reality
                    using our wide range of glass, to make an artwork to be proud of.
                    Bring some pictures or design ideas for inspiration.</p>
            </li>

            <li>
                <p><span class="lead">Thursday 29th – Friday 30th October: Kiln appliqué- using heat
                    instead of glue.</span></p>

                <p>Explore the possibilities of tack fusing in our Chilham studio. Using
                    a similar technique to glass appliqué but with fusing glass, create
                    a picture or pattern of your choice, then fuse it in the kiln to
                    permanently join the pieces together.</p>

                <p>Your work will be ready to collect or post a few days later.</p>
            </li>
        </ul>
        <p>November and December dates coming soon, unless you book them for
            yourself first!</p>
    </div>
</div>
