---
categories: a
title: Home
heading: 'Tired of the daily grind?'
lead: 'Worn to a frazzle? Need a break?<br>Discover talents that you never knew you had.'
---
<div class="container">
    <img class="img-responsive pull-left" src="assets/image/home-left_0.jpg"
         alt="Applying grout to a glass panel of a dove in flight. One of many things that can be made in the course of a creative break."
         height="225" width="300">
    <div class="container-fluid col-xs-7">
      <p class="text-left">
          <span class="lead">On a short break, holiday or retreat,</span> learn the art of stained glass, glass appliqué or glass fusing
          in a small informal group or on a one – to –one basis. Relax as you learn to translate the landscape,
          sounds, sights and even smells into a coloured glass masterpiece.</p>
      <p class="text-left">Let us give you a chance to unwind, take a breather and relax.</p>
      <p class="text-left">We teach at our studio in the beautiful medieval village of Chilham, near Canterbury
          and also in hotels and retreat centres across the UK for groups of 4 – 6 people.</p>
    </div>
    <div class="clearfix"></div>
</div>
