---
categories: c_Courses
order: 70
title: 'Leaded Stained Glass Courses'
heading: 'Leaded Stained Glass Courses'
lead:
---
<div class="container">
    <div class="container-fluid col-xs-12">

        <p>Leaded stained glass breaks are available throughout the year, at dates to suit yourself. Please e-mail or
            phone us (before 9pm please) to check availability. Because we specialise in small group sizes, we can
            usually fit you in with no need to meet minimum numbers for our Chilham classes.</p>

        <p>A few events currently in the pipeline are:-</p>
        <ul>
            <li>
                <p><span class='lead'>Tuesday 4th – Thursday 6th August: “Traditional Leaded Lights”.</span></p>

                <p>Learn to cut glass and lead. Explore the geometric shapes and patterns popular in the
                    last 200 years and produce your own leaded panel to take home.</p>
            </li>
            <li>
                <p><span class='lead'>Saturday 29th – Monday 31st August (bank holiday weekend): “Leaded
                    landscapes”.</span></p>

                <p>Bring a photo of your own or take inspiration from our beautiful setting, nestled in the
                    Kent Downs AONB. (A stroll around the medieval village of Chilham, a walk or visit to
                    some local viewpoints are free optional extras, to immerse yourself more into the
                    landscape.)</p>

                <p>Capture the beauty of the scenery in a landscape panel, using the leaded stained glass
                    technique.</p>
            </li>
            <li>
                <p><span class='lead'>Friday 9th – Sunday 11th October: Leaded designs, ancient and modern.</span>
                </p>

                <p>Choose your favourite hymn or song and translate it into a leaded glass design. (Tip:
                    “There is a green hill far away” or “Away in a manger” might be easier than “We are
                    marching” or “I surrender”!) Alternatively, choose a classic leaded light design from
                    the last two centuries as your inspiration.</p>

                <p>Your finished glass panel will be suitable for hanging or standing in a window, to show
                    off your talents.</p>
            </li>
            <li>
                <p><span class='lead'>Monday 26th – Tuesday 27th October: Leaded glass panels for beginners and
                    improvers.</span></p>

                <p>Learn how to design your own leaded light, then turn it into reality using our wide range
                    of glass, to make an artwork to be proud of. Bring some pictures or design ideas for
                    inspiration.</p>
            </li>
        </ul>
    </div>
</div>
