---
categories: b
order: 20
menu: Breaks
title: 'Retreats'
heading: 'Specific Themed Retreats'
lead: 'A few suggestions... '
---
<div class="container">
    <p><span class="lead">These are a few suggestions, and are available for any date that you book unless otherwise
        specified. Alternatively you're welcome to request a subject or theme of your own.</span></p>

    <ul>
        <li>
            <p><span class="lead">Monday 13th – Friday 17th July: “A beautiful mess” art week</span>, in conjunction
                with Green Pastures retreat centre and Gill Buckley, inspired by Daniel Strickland’s book “A beautiful
                mess”.</p>

            <p>This five day retreat will take place in Branksome, Dorset, within easy reach of the beach.&nbsp; A range
                of artistic media will be on offer; glass appliqué, painting, collage, photography and even floristry.
                For bookings, please contact Green Pastures direct, on 01202 764776, or e-mail <a
                        href="mailto:info@green-pastures.org">info@green-pastures.org</a></p>

            <p><a href="http://www.green-pastures.org/#!A-Beautiful-Mess-Art-week/cvh6/i683w1jf80">http://www.green-pastures.org/#!A-Beautiful-Mess-Art-week/cvh6/i683w1jf80</a>
            </p>
        </li>

        <li>
            <p><span class="lead">Friday 4th September – Sunday 6th September: &nbsp;A time of fruitfulness.</span></p>

            <p>As harvest time hopefully draws near, take time to reflect on what you’ve done with your talents so far
                and which gifts you could do more with. Stretch your creative “muscle” and explore a range of glass
                techniques, decorating a mirror using the copper foil technique or glass appliqué.</p>
        </li>

        <li>
            <p><span class="lead">Friday 9th – Sunday 11th October: Leaded designs, ancient and modern.</span></p>

            <p>Choose your favourite hymn or song and translate it into a leaded glass design. (Tip: “There is a green
                hill far away” or “Away in a manger” might be easier than “We are marching” or “I surrender”!)
                Alternatively, choose a classic leaded light design from the last two centuries as your inspiration.</p>

            <p>Your finished glass panel will be suitable for hanging or standing in a window, to show off your
                talents.</p>
        </li>

        <li>
            <p><span class="lead">Creation and Creativity.</span></p>

            <p>Take time to reflect on all that God has created, including ourselves, and give time and your talents
                back to Him. During this retreat you can craft a mirror&nbsp; with a decorative frame, using copper
                foil.</p>
        </li>

        <li>
            <p><span class="lead">Broken glass, broken lives: Making something beautiful out of the pieces.</span></p>

            <p>Often it is in the dark times and the struggles that God transforms us the most. Allow Him to work in and
                through you as you take pieces of broken glass and turn them into a beautiful glass appliqué
                picture.</p>
        </li>

        <li>
            <p><span class="lead">St. Patrick’s Breastplate.</span></p>

            <p>Bind unto yourself this day the strong name of the Trinity, as we look at this famous prayer. Work with
                lead and glass over the course of two days or more to create your own decorative panel to remind you of
                God’s care for you and His hand on your life.&nbsp;</p>
        </li>
    </ul>
</div>
