---
categories: b_Breaks
order: 10
title: 'Short breaks and holidays'
heading: 'Short breaks and holidays'
lead:
---
<div class="container">

    <div class="container-fluid col-md-6 col-sm-12">
        <img style="margin: 20px" class="img-responsive pull-left" src="assets/image/short-breaks.jpg"
             alt="cutting glass for an appliqué panel; similar to mosaic, but made from glass" height="300" width="225">

        <p>You are welcome to book for any number of days, though a minimum of two days is recommended if you would like
            to produce something to your own design.

        <p>We specialise in teaching you to unleash your creativity. Although standard designs are available should you
            want them, why not be inspired by the location, the sound of a piece of music, or perhaps the scent of a
            fragrance and translate this into a work of art to take home and treasure.

        <div class="clearfix"></div>
    </div>

    <div class="container-fluid col-md-6 col-sm-12">
        <img style="margin: 20px" class="img-responsive pull-right" src="assets/image/RB%20applique.jpg"
             alt="assembling a landscape picture in glass applique on a relaxing weekend break"
             height="300" width="225">

        <p>We can incorporate visits to local places of interest; our Chilham studio is close to Canterbury, Faversham,
            Beech Court Gardens, Mount Ephraim, Belmont House, Brogdale (national fruit tree collection), the North
            Downs Way and is situated on the edge of the beautiful Kent Downs AONB. For breaks held elsewhere, we will
            offer visits to other suitably inspirational sites.

        <p>See our leaded stained glass, copper foiled stained glass and glass appliqué pages for courses planned, or
            call and arrange a bespoke break for no extra cost! All short breaks and holidays cost just £65 per person
            for each of the first three days, with discounts for extra days.

        <div class="clearfix"></div>
    </div>

    <img style="margin: 20px" class="img-responsive pull-left" src="assets/image/P1030729.JPG"
         alt="A copper foiled stained glass panel takes shape in our Chilham, Kent, studio"
         height="225" width="300">

    <div class="container-fluid col-xs-7">

        <h2>Testimonials from previous clients</h2>


        <blockquote>"A wonderful introduction to glass appliqué in a relaxing and supportive environment. The basics are
            easy to pick up, but will take a lifetime
            to master. We will definitely be back for more."
        </blockquote>

        <blockquote>"We need to book another weekend for next year."</blockquote>
    </div>
    <div class="clearfix"></div>
</div>
