---
categories: c
order: 40
menu: Courses
title: 'What does it cost?'
heading: 'What does it cost?'
lead:
---
<div class="container">
    <p>For stained glass and glass appliqué courses held in our Chilham studio, our rates are:-</p>

    <p>£130 per person for a two day break / retreat</p>

    <p>£195 per person for a three day break / retreat and</p>

    <p>£52 per person for each additional day.</p>

    <p>&nbsp;</p>

    <p>Prices for glass fusing classes will appear shortly; they will be a bit higher due to the higher cost of
        materials and kiln use.</p>

    <p>Prices include all materials, refreshments during the day and a light lunch.</p>

    <p>&nbsp;</p>

    <p>We also offer short breaks, holidays and retreats at other venues around the UK; if you have a group of four to
        six people, please contact us as we can put a package together especially for you.</p>
</div>
