body {
  padding-top: 70px;
  font-family: 'Galdeano', serif;
  background: url('../image/bg.jpg');
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-size: 18px
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  padding: 20px;
  color: #eeeeee;
  background-color: #45851d;
}

#footer .text-info {
  color: #eeeeee;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #56981e, #45851d);
  border-color: #163f09;
}

.navbar-inverse .navbar-brand {
  color: #eeeeee;
}

.navbar-inverse .navbar-brand:hover {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #1a3d04 0%, #1d4404 100%);
}

.text-primary {
  color: #1d1685;
}

.lead {
  font-size: 24px;
}

.jumbotron {
  background-color: #f2faed;
}
